{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set params = {
section: 'news'
} %}

    {% set nextEntry = entry.getNext(params) %}
    {%    set firstEntry = craft.entries({
    section: 'news',
    order: 'postDate desc'
    }).first() %}

{% block content %}

	<article>
		<h1>{{ entry.title }}</h1>
        <h3>{{ entry.service_summary }}</h3>

		{{ entry.body }}

        {{entry.service_video_url|videoEmbed({height: '360', width: '640',})}}
        <br>
        <br>

        {% if nextEntry %}
            <a href="{{nextEntry.url }}" >Следующая</a>
        {% else %}
            <a href="{{firstEntry.url }}" >Следующая</a>
        {% endif %}

    </article>
{% endblock %}
